[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
treetaggerwrapper = "*"
six = "*"
python-dotenv = "*"
gensim = "*"

[requires]
python_version = "3.6"
